.about {
  margin-top: 150px;

  @media (max-width: $desktop-width) {
    margin-top: 69px;
  }
}

.about__container {
  max-width: 1166px;
  margin: 0 auto;
}

.about h2 {
  @include text(30px, 30px, $black2, 600);
  margin-bottom: 50px;

  @media (max-width: $desktop-width) {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 30px;
  }
}

.about span {
  @include text(28px, 38px, $main-color, 700);
  letter-spacing: -0.5px;
}

.about p {
  margin-top: 15px;
  @include text(22px, 34px, $black, 400);
  letter-spacing: -0.5px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 34px;
    margin-top: 9px;
    margin-bottom: 10px;
  }
}

.about__list {
  @include ul();
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 38px;

  @media (max-width: $desktop-width) {
    justify-content: space-between;
    padding: 0 106px;
    row-gap: 20px;
    column-gap: 30px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 28px 0 29px;
    row-gap: 35px;
  }
}

.about__item {
  width: 263px;
  flex-grow: 1;
}
