.bicycles {
  min-width: $mobile-width;
  background: $bicycles;
  opacity: .99;
  margin-top: 130px;
  padding: 125px 0 127px 0;

  @media (max-width: $desktop-width) {
    margin-top: 49px;
    padding: 30px 0 48px 0;
  }

  @media (max-width: $tablet-width) {
    padding: 30px 0 14px;
    margin-top: 73px;
  }
}

.bicycles__container {
  margin: 0 auto;
  max-width: 1440px;
}

.bicycles h2 {
  @include text (30px, 30px, $black2, 600);
  margin-bottom: 50px;

  @media (max-width: $desktop-width) {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 30px;
  }
}

.bicycles h3 {
  @include text (22px, 34px, $black, 600);
  letter-spacing: -0.5px;
  margin-top: 16px;
}

.bicycles__list {
  @include ul();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5%;

  @media (max-width: $desktop-width) {
    padding: 0 64px;
    justify-content: space-between;
    row-gap: 29px;
  }

  @media(max-width: $tablet-width) {
    padding: 0 25px;
    gap: 0;
  }
}

.bicycles img {
  border-radius: 10px;

  @media (max-width: $desktop-width) {
    width: 270px;
    height: 300px;
  }
}

.bicycles__item {
  position: relative;

  @media (max-width: $desktop-width) {
    width: 270px;
    margin: 0 auto;
  }

  @media(max-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.bicycles__item--road {
  padding-top: 10px;

  @media(max-width: $desktop-width) {
    padding: 0;
  }

  &::before {
    @include pseudo();
    border: 27px solid $main-color;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    left: -60px;
    bottom: 335px;
    z-index: -1;

    @media(max-width: $desktop-width) {
      border-width: 18px;
      width: 127px;
      height: 127px;
      left: -38px;
      bottom: 47px;
    }

    @media(max-width: $tablet-width) {
      left: -25px;
    }
  }
}

.bicycles__item--mountain {
  padding-top: 39px;

  &::before,
  &::after {
    @include pseudo();
    border: 8px solid $main-color;
    width: 47px;
    height: 47px;
  }

  &::before {
    top: 21px;
    left: -19px;
  }

  &::after {
    bottom: 53px;
    right: -23px;
  }

  @media(max-width: $desktop-width) {
    padding: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

.bicycles__item--сhildren {

  &::after {
    @include pseudo();
    border: 17px solid $main-color;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    top: -32px;
    right: -36px;

    @media (max-width: $desktop-width) {
      border-width: 13px;
      width: 68px;
      height: 68px;
      top: -20px;
      right: -24px;
    }

    @media (max-width: $tablet-width) {
      top: -19px;
      right: -15px;
    }
  }
}
