.contacts {
  padding-bottom: 98px;
  margin-top: 32px;

  @media (max-width: $desktop-width) {
    margin-top: 14px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 25px;
  }
}

.contacts__list {
  @include ul();
  padding-right: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 90px;
  padding: 0;

  @media (max-width: $desktop-width) {
    padding-left: 9px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
  }
}

.contacts__item:not(:last-child) {
  @media (max-width: $tablet-width) {
    margin-bottom: 12px;
  }
}

.contacts__item--tel {
  margin-right: 20px;
}

.contacts a {
  display: flex;
  align-items: center;
  position: relative;
  @include text(16px, 32px, rgba($black, 0.5), 400);

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    text-align: center;
  }
}

.contacts svg {
  margin-right: 15px;
  fill: none;
}
