.header {
  background: url('../img/headerBike.jpg') no-repeat center top, linear-gradient(#0D0D0D, #101010, #202020);

  @media (min-resolution: 2dppx) {
    background: url('../img/headerBike@2x.jpg') no-repeat center, linear-gradient(#0D0D0D, #101010, #202020);
    background-size: cover;
  }

  @media (max-width: $desktop-width) {
    background: none;
    background-color: $white;
  }
}

.header__container {
  max-width: 880px;

  @media (max-width: $desktop-width) {
    max-width: $desktop-width;
  }
}

.header__toggle {
  display: none;
  padding: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 0;
  right: 0;
  top: 0;
  z-index: 5;

  &--working {
    @media (max-width: $desktop-width) {
      display: block;
    }
  }

  &--open {
    background: $main-color url('../img/menu.svg') no-repeat center;
  }

  &--close {
    background: $white url('../img/cross.svg') no-repeat center;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 155px;
  padding-bottom: 218px;


  @media (max-width: $desktop-width) {
    padding-bottom: 0;
    gap: 0;
    flex-direction: column;
    text-align: center;
  }
}

.header__title-wrapper {
  text-align: left;

  @media (max-width: $desktop-width) {
    text-align: center;
    background: url('../img/headerBike.jpg') no-repeat center top, linear-gradient(#0D0D0D, #101010, #202020);

    @media (min-resolution: 2dppx) {
      background: url('../img/headerBike@2x.jpg') no-repeat, linear-gradient(#0D0D0D, #101010, #202020);
      background-size: cover;
      background-position: 50%;
    }

    padding-top: 107px;
    padding-bottom: 61px;
    background-position: top 50% center;
    background-size: cover;
  }

  @media (max-width: $tablet-width) {
    text-align: center;
    background: url('../img/headerBike-mobile.jpg') no-repeat center top, linear-gradient(#0D0D0D, #101010, #202020);

    @media (min-resolution: 2dppx) {
      background: url('../img/headerBike-mobile@2x.jpg') no-repeat center top, linear-gradient(#0D0D0D, #101010, #202020);
      background-size: cover;
      background-position: 50%;
    }

    padding-top: 93px;
    padding-bottom: 51px;
    background-size: cover;
    background-position: center;
  }
}

.header__title-wrapper p {
  @include text(20px, 32px, $white, 300);
  letter-spacing: -0.1px;
  opacity: 0.8;

  @media (max-width: $desktop-width) {
    @include text(18px, 32px, $white, 300);
  }

  @media (max-width: $tablet-width) {
    padding: 0 15px;
  }
}

.header__title-wrapper br {
  display: none;

  @media (max-width: $desktop-width) {
    display: block;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__logo {
  @media (max-width: $desktop-width) {
    position: absolute;
    top: 25px;
    left: 21px;
  }

  @media (max-width: $tablet-width) {
    left: 16px;
  }
}

.header h1 {
  margin: 28px 0 24px 0;
  @include text(46px, 64px, $white, 700);

  @media (max-width: $desktop-width) {
    margin: 28px 0 20px 0;
    @include text(30px, 42px, $white, 700);
  }
}

.header__form-wrapper {
  @media (max-width: $desktop-width) {
    width: 42.2%;
    margin: 67px auto 0 auto;
  }

  @media (max-width: $tablet-width) {
    width: auto;
    padding: 0 16px;
  }
}

.header__form-wrapper p {
  margin: 4px 0 20px 0;
  text-align: center;
  @include text(17px, 28px, $white, 600);

  @media (max-width: $desktop-width) {
    color: $black;
    font-size: 18px;
    margin-bottom: 30px;
    letter-spacing: -0.11px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.header__form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__form-wrapper input {
  margin-bottom: 20px;
  height: 48px;
  border: 1px solid $border;
  border-radius: 6px;
  padding: 14px 0 10px 29px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  &::placeholder {
    font-family: 'Open Sans', sans-serif;
    @include text(15px, 24px, $placeholder, 400);
    opacity: 0.5;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @media (max-width: $desktop-width) {
    padding: 12px 0 12px 20px;
  }

  @media (max-width: $tablet-width) {
    padding: 13px 0 11px 25px;

    &:last-of-type {
      margin-bottom: 19px;
    }
  }
}

.header__form-wrapper button {
  background-color: $main-color;
  height: 51px;
  border: 0;
  border-radius: 6px;
  @include text(15px, 21px, $black, 600);

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}
