//Colors
$main-color: #0AD9C6;
$white: #FFFFFF;
$black: #000000;
$black2: #1F1F1F;
$black3: #070707;
$placeholder: #1C1C1C;
$img: #101010;
$grey: #48494D;
$video: #131314;
$mobile-nav: #F6F6F6;
$border: #C9CCD4;

//Viewports

$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 320px;
